---
layout: default
title: "#7languages7weeks Challenge Repository &amp; Blog"
---
<p>
This blog will document my journey through the #7languages7weeks challenge.
Embarked upon by people signing up for <a href="http://twitter.com/sermoa">@sermoa</a>'s 
<a href="http://sermoa.wordpress.com/2011/06/10/7-languages-in-7-weeks/">blog post</a>.
I am one of those people, <a href="http://twitter.com/SusanPotter">@SusanPotter</a>.
</p>
<h2>Instructions</h2>
<ol>
 <li>fork this repo
 <li>edit <code>_config.yml</code>
 <li>edit <code>index.html</code>
 <li>edit <code>_includes/style.css</code>
 <li>navigate to <em>user</em>.github.com/7languages7weeks and continue editing 
 the blog content each day you work through the book.
</ol>
<hr>
<section>
<h2>Web Log</h2>
{% for page in paginator.posts %}
{% include post.html %}
{% endfor %}
</section>
<footer class="pagination">
{% if paginator.previous_page == 1 %}
  <a href="{{ site.url }}/blog" rel="prev start" class="previous">Newer</a>
{% elsif paginator.previous_page %}
  <a href="{{ site.url }}/page{{paginator.previous_page}}" rel="prev" class="previous">Newer</a>
{% else %}
  <span class="previous">Newer</span>
{% endif %}
<span class="page-number">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
{% if paginator.next_page %}
  <a href="{{ site.url }}/page{{paginator.next_page}}" rel="next" class="next">Older</a>
{% else %}
  <span class="next">Older</span>
{% endif %}
</footer>
