<small>&copy; {{ site.time | date: "%Y" }}, {{ site.author.name }}</small>
<a href="http://validator.w3.org/check?uri={{ site.url }}{{ page.url }}" title="HTML5 Powered"><img src="http://www.w3.org/html/logo/downloads/HTML5_Badge_32.png" width="22" height="22" alt="HTML5 Powered"></a>
<a href="http://gsnedders.html5.org/outliner/process.py?url={{ site.url }}{{ page.url }}" title="HTML 5 Semantics"><img src="http://www.w3.org/html/logo/img/tiny-semantics.png" width="22" height="22" alt="HTML5 Semantics"></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri={{ site.url }}{{ page.url }}" title="CSS 3"><img src="http://www.w3.org/html/logo/img/tiny-css3.png" width="22" height="22" alt="CSS3"></a>    
