<!DOCTYPE HTML>
<html lang=en>
<head>
<base href="http://susanpotter.net/"/>
<meta charset=utf-8>
<meta http-equiv=content-type content="text/html; charset=UTF-8">
<link href="http://susanpotter.net/images/favicon.ico" rel="shortcut icon">
<title>Susan Potter: Open Source Software Developer Extraordinaire ;-D</title>
<link rel=stylesheet type="text/css" href="http://susanpotter.net/stylesheets/reset.css">
<link rel=stylesheet type="text/css" href="http://susanpotter.net/stylesheets/styles.css">
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
<script async=async defer=defer src='http://susanpotter.net/javascripts/app.js'></script>
<meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" name=viewport>
</head>
<body>

<header>
<div class=container>
<a href='http://susanpotter.net/'>
<img alt='Susan Potter' height=30 src='http://susanpotter.net/images/logo.png' width=128 />
</a>
<nav>
<a href='/projects'>Open Source Projects</a>
<a href='/projects'>7languages7weeks</a>
<a target=_blank id=twitter class=icon href='http://twitter.com/SusanPotter'><img src='/images/twitter.png' height=30 width='' alt="@SusanPotter's Twitter feed" border=0 /></a>

<a target=_blank id=linkedin class=icon href='http://www.linkedin.com/in/susanpotter'><img src='/images/linkedin.png' height=30 width='' alt=''/></a>
<a target=_blank id=github class=icon href='https://github.com/mbbx6spp'><img src='/images/github.png' height=30 width='' alt=''/></a>
<a href=''></a>
</nav>
</div>
</header>
<div class="text columns home sidebar">
<h1><a href="/" title="Open Source Software (OSS) Developer Extraordinaire ;-D">Open Source Software (OSS) Developer Extraordinaire ;-D</a></h1>
    <section>
{% include post.html %}
<div id="disqus_thread"></div>
<script type="text/javascript">
{% comment %}
    CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE
{% endcomment %}
{% comment %} required: replace example with your forum shortname {% endcomment %}
    var disqus_shortname = '{{ site.author.disqus.shortname }}';

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    var disqus_url = '{{ site.url }}{{ page.url }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
    <aside>
    <section id=buzz>
    </section>
    </aside>
    </div>
    <footer>
    <p>

    Copyright &copy; 2006-2011 <a href="http://susanpotter.net">Susan Potter</a>.
    </p>
    <p>
    This website is developed by <a href="http://susanpotter.net">Susan Potter</a>.
    </p>
    </footer>
    </body>
    </html>

